<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TroubleShooter.Properties.Settings.TroubleShooterConnectionString" connectionString="Data Source=devserver;Initial Catalog=TroubleShooter;Persist Security Info=True;User ID=ahmed.abdo;Password=ahmed1234" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
